* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(../fonts/BadComic.woff2);
    font-family: "BadComic";
}

@font-face {
    src: url(../fonts/Furore.woff2);
    font-family: "Furore";
}

@font-face {
    src: url(../fonts/Montserrat.woff2);
    font-family: "Montserrat";
}

@font-face {
    src: url(../fonts/Play.woff2);
    font-family: "Play";
}

/* общие */

body {
    background: #000000;
}

.img_width {
    width: 100%;
}

.home_wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.section_wrap {
    max-width: 1760px;
    margin: auto;
}
main {
    background: url("../img/background/bg-top-right.png") no-repeat 100% 8%,
    url("../img/background/bg-top-center.png") no-repeat 100% 8%;
}
.hub_home{
    background: #0a0019;
}
/*----------------------------------------------------- HUB header ---------------------------------------*/

.header_hub_group_btn{
    display: flex;
}
.btn_hub_name{
    margin-right: 20px;
}
.btn_exit {
    padding: 16px 90px!important;
    font-size: 22px;
    cursor: pointer;
    background: none!important;
    font-family: "Play";
    color: #dcdcf0;
    border-radius: 5px;
    border: 1.5px solid #f000fa;
    box-shadow: 0px 0px 10px 0px #f000fa, 0px 0px 5px 0px #0019f0;
}

.btn_exit:hover {
    box-shadow: 0px 0px 10px 5px #f000fa, 0px 0px 5px 0px #0019f0;
}

/*---------------------------------------------------- ita dialog ----------------------------------------*/

.hub_btn_start_quest{
    display: flex;
    justify-content: center;
}
/* Карточка прогресса */

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    display: inline-block;
    margin: 10px;

}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 140%;
    height: 130%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background: linear-gradient(90deg, #6B0498 20%, #6B0498 50%, #340BA4);
    border-radius: 16px;
    font-size: 26px;
    font-weight: 700;
    color: white;
    font-style: normal;
    font-family: "Montserrat"
}

.card-back {
    background: linear-gradient(90deg, #6B0498 20%, #6B0498 50%, #340BA4);
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 16px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.flip-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.click {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
}

.click-name {
    color: #FFF;
    font-size: 28px !important;
    display: flex;
    position: absolute;
    margin: 0 0 0 770px;
}

.profession {
    text-align: center;
    position: relative;
    top: 10%;
}

.profession-lock {
    padding: 60% 0 30% 0;
}

.profession-text {
    margin: 20% 20px 2px 7%;
    text-align: left;
    font-size: 14px;
    padding-bottom: 88px;
}

.img_people {
    width: 80%;
    display: flex;
    left: 10%;
    position: relative;
    top: 6%;
}

.lock {
    display: block;
    margin: 0 auto;
}

.triangle-down {
    border-left: 63px solid transparent;
    border-right: 63px solid transparent;
    border-top: 60px solid #340BA4;
    border-radius: 12px;
    bottom: -70px;
    left: 27%;
    position: absolute;
}

.circle {
    margin-top: 170px;
    color: #9600FF;
    position: relative;
}

.circle-after:after {
    position: absolute;
    top: 50%;
    left: 78%;
    content: '';
    height: 3px;
    width: 650%;
    background-image: radial-gradient(#9600FF 40%, transparent 50%);
    background-size: 17px 10px;
    background-repeat: repeat-x;
    background-position: 0 center;
    display: block;
    margin-left: 76%;
}

.circle-back {
    margin-top: 295px;
}

.circle-before::before {
    position: absolute;
    top: 50%;
    right: 150%;
    content: '';
    height: 3px;
    width: 650%;
    background-image: radial-gradient(#9600FF 40%, transparent 50%);
    background-size: 17px 10px;
    background-repeat: repeat-x;
    background-position: 0 center;
}

.Progress_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.Progress-main {
    display: flex;
    justify-content: center;
}

.Progress-card-name{
    color: #FFF;
    font-family: Furore;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
}

.Progress-block{
    display: flex;
    justify-content: space-around;
    max-width: 1350px;
    width: 100%;
    padding-bottom: 307px;;
}

.last-cards {
    display: flex;
    justify-content: space-around;
    max-width: 1350px;
    width: 100%;
}

.progress-circle {
    width: 100% !important;
    display: flex;
    position: absolute;
    justify-content: center;
}

.dashed {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px dashed #ddd;
}

.material-symbols-outlined {
    font-size: 50px !important;
}
